subflows/ai-crop-tm.json
[{"id":"9b3183127987134d","type":"subflow","name":"[AI] Crop & TM","info":"","category":"Tequ-API Client","in":[{"x":60,"y":60,"wires":[{"id":"b69a5738ed6dc877"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"f8031b51e4e6f8a2","port":0},{"id":"d010b2611dc9efb2","port":0}]}],"env":[{"name":"replace_ca_scores","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}},{"name":"remove_crop_buffers","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}},{"name":"replace_threshold","type":"num","value":"0.5","ui":{"type":"spinner","opts":{"min":0,"max":1}}}],"meta":{"version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Crop model-gpu results and detect with Teachable Machine model.","license":"MIT"},"color":"#FFCC66","icon":"node-red/status.svg","status":{"x":960,"y":360,"wires":[{"id":"9969044452d2f2da","port":0}]}},{"id":"a12e9b5dd924ba06","type":"teachable machine","z":"9b3183127987134d","name":"","mode":"online","modelUrl":"http://localhost:1880/tm-model/","localModel":"teachable_model","output":"best","activeThreshold":true,"threshold":"50","activeMaxResults":true,"maxResults":"1","passThrough":false,"x":610,"y":200,"wires":[["0b07d7c6a30fa754"]]},{"id":"953318e181f7b8e0","type":"function","z":"9b3183127987134d","name":"Crop detected objects","func":"var data = msg.payload;\nvar imageBuffer = msg.payload.image.buffer;\n\nimage_type = 'image/jpeg'\nimage_settings = {\"quality\":0.8}\n\nasync function createThumbnail(image,x,y,w,h) {\n  const localImage = await canvas.loadImage(image);  \n  \n  sx = x\n  sy = y\n  sw = w\n  sh = h\n  dx = 0;\n  dy = 0;\n  dw = w\n  dh = h\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,sx,sy,sw,sh,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type,image_settings);\n}\n\nfor(var i=0;i<data.inference.result.length;i++){\n    x = data.inference.result[i].bbox[0]\n    y = data.inference.result[i].bbox[1]\n    w = data.inference.result[i].bbox[2]\n    h = data.inference.result[i].bbox[3]\n    data.inference.result[i].buffer = await createThumbnail(imageBuffer,x,y,w,h)\n}\n\nmsg.result = data;\nmsg.payload = data.inference.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":620,"y":80,"wires":[["2682f1abf01f3100"]]},{"id":"2f4b9221b88c2430","type":"change","z":"9b3183127987134d","name":"end timer","rules":[{"t":"set","p":"total_tm_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["f8031b51e4e6f8a2"]]},{"id":"d3f846fd801deac2","type":"change","z":"9b3183127987134d","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["953318e181f7b8e0"]]},{"id":"42b72f344fb608b6","type":"function","z":"9b3183127987134d","name":"isBuffer?","func":"timestamp = new Date().toISOString();\n\nif(Buffer.isBuffer(msg.payload)){\n    node.status({fill:\"green\",shape:\"dot\",text:timestamp + \" OK\"});  \n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:timestamp + \" Not an image\"});  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["a12e9b5dd924ba06"]]},{"id":"2682f1abf01f3100","type":"split","z":"9b3183127987134d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":140,"wires":[["29071b68ec07fe52"]]},{"id":"29071b68ec07fe52","type":"change","z":"9b3183127987134d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["42b72f344fb608b6"]]},{"id":"0b07d7c6a30fa754","type":"join","z":"9b3183127987134d","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":280,"wires":[["2f4b9221b88c2430"]]},{"id":"f8031b51e4e6f8a2","type":"function","z":"9b3183127987134d","name":"Set results","func":"tm_results  = msg.payload;\nca_results  = msg.result;\ntotal_tm_ms = msg.total_tm_ms;\nreplace_ca_scores = env.get(\"replace_ca_scores\");\nremove_crop_buffers = env.get(\"remove_crop_buffers\");\nreplace_threshold = env.get(\"replace_threshold\");\n\nfor(var i=0; i<(ca_results.inference.result).length; i++){\n    if(remove_crop_buffers){\n        delete ca_results.inference.result[i].buffer;\n    }\n    \n    if(replace_ca_scores){\n        original_score = ca_results.inference.result[i].score;\n        tm_score = tm_results[i][0].score;\n        \n        //node.warn(original_score)\n        //node.warn(tm_score)\n        //node.warn(replace_threshold)\n        if(original_score < replace_threshold){\n            ca_results.inference.result[i].label = tm_results[i][0].class;\n            ca_results.inference.result[i].score = tm_results[i][0].score;\n            ca_results.inference.result[i].class = tm_results[i][0].class;    \n        }\n    }        \n    else{\n        ca_results.inference.result[i].tm = {\n        \"label\":tm_results[i][0].class,\n        \"score\":tm_results[i][0].score\n        }    \n    }\n}\n\ndelete msg.result;\ndelete msg.classes;\nmsg.payload = ca_results;\nnode.status({fill:\"green\",shape:\"dot\",text:total_tm_ms+\" ms\"});  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":280,"wires":[[]]},{"id":"9969044452d2f2da","type":"status","z":"9b3183127987134d","name":"","scope":null,"x":820,"y":360,"wires":[[]]},{"id":"e1ea115cc00a5108","type":"link in","z":"9b3183127987134d","name":"Output in","links":["e848558c953c39d8"],"x":855,"y":20,"wires":[["d010b2611dc9efb2"]]},{"id":"b69a5738ed6dc877","type":"switch","z":"9b3183127987134d","name":"empty?","property":"payload.inference.result","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":60,"wires":[["e848558c953c39d8"],["d3f846fd801deac2"]]},{"id":"e848558c953c39d8","type":"link out","z":"9b3183127987134d","name":"to output","links":["e1ea115cc00a5108"],"x":295,"y":20,"wires":[]},{"id":"d010b2611dc9efb2","type":"function","z":"9b3183127987134d","name":"status","func":"node.status({fill:\"red\",shape:\"dot\",text:\"No objects.\"});  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":120,"wires":[[]]},{"id":"c509e17c04031c61","type":"subflow:9b3183127987134d","z":"329180c.cb1438","name":"","env":[{"name":"replace_ca_scores","value":"false","type":"bool"},{"name":"replace_threshold","value":"0.8","type":"num"}],"x":540,"y":560,"wires":[[]]}]
