subflows/ai-crop-tm.json
[{"id":"e81779cdce1fb443","type":"subflow","name":"[AI] Detect-v1","info":"**DEPRECATED**\n\nMake prediction on image with Tensorflow.js model trained with tequ-tf1-ca-training-pipeline.\n\nhttps://github.com/juhaautioniemi/tequ-tf1-ca-training-pipeline\n\nModel is loaded from /.node-red/config/model folder. \n\nInference image and add result to output message. \n\nAdds basic image info to output message.\n\nIf image has exif data, this is added to output message.","category":"Tequ-API Client","in":[{"x":100,"y":80,"wires":[{"id":"b8c1da4f3cdd8307"}]}],"out":[{"x":1440,"y":280,"wires":[{"id":"3b190d9a6a5daf5a","port":0}]},{"x":480,"y":140,"wires":[{"id":"ea998f90d88b3a6b","port":0}]}],"env":[{"name":"inference_model_id","type":"env","value":"inference_model_id","ui":{"type":"input","opts":{"types":["env"]}}},{"name":"threshold","type":"num","value":"75","ui":{"type":"spinner","opts":{"min":0,"max":1}}},{"name":"labels","type":"json","value":"[\"fish\",\"perch\", \"pike\", \"rainbow trout\", \"salmon\", \"trout\", \"cyprinidae\", \"zander\", \"smolt\"]","ui":{"type":"input","opts":{"types":["json"]}}},{"name":"image_width_cm","type":"env","value":"image_width_cm","ui":{"type":"input","opts":{"types":["num","env"]}}}],"meta":{"module":"node-red-contrib-tequ-ai-detect-v1","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Make prediction on image with Tensorflow.js model trained with tequ-tf1-training-pipeline.","license":"MIT"},"color":"#FFCC66","inputLabels":["Image buffer in"],"outputLabels":["Result data","Data to UI "],"icon":"node-red/status.svg","status":{"x":1440,"y":340,"wires":[{"id":"0bf3257ae300b0b3","port":0}]}},{"id":"cde8571ac206c091","type":"function","z":"e81779cdce1fb443","name":"Format output","func":"var threshold = 0;\n\nglobal_settings = global.get(\"settings\") || undefined\nvar thresholdType = \"\"\n\nif(global_settings !== undefined){\n    if(\"threshold\" in global_settings){\n        threshold = global_settings[\"threshold\"]\n        thresholdType = \"global\";\n    }\n}\n\nelse if(\"threshold\" in msg){\n    threshold = msg.threshold;\n    thresholdType = \"msg\";\n    if(threshold < 0){\n        threshold = 0\n    }\n    else if(threshold > 1){\n        threshold = 1\n    }\n}\n\nelse{\n    threshold = env.get(\"threshold\");\n    thresholdType = \"env\";\n}\n    \nresult_message = {\n    \"threshold\":threshold,\n    \"thresholdType\":thresholdType,\n    \"topic\":msg.topic,\n    \"payload\":{\n        \"inference\":{\n            \"time_ms\":msg.inference_time,\n            \"result\":msg.payload,\n            \"model\":env.get(\"inference_model_id\")\n        },\n        \"image\":{\n            \"buffer\":msg.image,\n            \"width\": msg.width,\n            \"height\": msg.height,\n            \"type\": msg.type,\n            \"size\": (msg.image).length,\n            \"exif\":{}\n        }\n    }\n}\n\nif(msg.exif){\n     result_message.payload.image.exif = msg.exif\n}\n\nreturn result_message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":280,"wires":[["3b190d9a6a5daf5a"]]},{"id":"76ec8f6c65d593e6","type":"exif","z":"e81779cdce1fb443","name":"","mode":"normal","property":"payload","x":650,"y":260,"wires":[["9fb840c5d4d94920"]]},{"id":"a81e276ec23a74e7","type":"change","z":"e81779cdce1fb443","name":"end timer","rules":[{"t":"set","p":"inference_time","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":140,"wires":[["848b237e48809b7c"]]},{"id":"d8d60987ed54099c","type":"change","z":"e81779cdce1fb443","name":"timer & set image ","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"},{"t":"set","p":"image","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[["5ca44ca8e213d035"]]},{"id":"d5c621e7b4fff0f8","type":"comment","z":"e81779cdce1fb443","name":"C:\\fish-iot\\Trained models\\object-detection\\cloud-annotations\\fish-detector\\v3\\tfjs-colab-20000-100-24","info":"","x":680,"y":20,"wires":[]},{"id":"5ca44ca8e213d035","type":"image-info","z":"e81779cdce1fb443","name":"","x":490,"y":260,"wires":[["76ec8f6c65d593e6"]]},{"id":"3b190d9a6a5daf5a","type":"function","z":"e81779cdce1fb443","name":"Check result","func":"var returnResult = false;\nvar threshold = msg.threshold;\nvar thresholdType = msg.thresholdType;\nvar result = msg.payload.inference.result;\nvar bestScore = 0\nvar inference_time = msg.payload.inference.time_ms \n\nlabels = env.get(\"labels\")\nmsg.labels = labels;\n\nfor(var i=0;i<result.length;i++){\n    if(result[i].score > threshold && labels.includes(result[i].label)){\n        returnResult = true;\n    }\n    if(result[i].score > bestScore && labels.includes(result[i].label)){\n        bestScore = result[i].score;\n    }\n}\n\nif(result.length == 0){\n    node.status({fill:\"yellow\",shape:\"dot\",text:thresholdType+\" \"+threshold+\" | \"+inference_time+\" ms | No results.\"})\n    return msg;\n}\nelse{\n    node.status({fill:\"green\",shape:\"dot\",text:thresholdType+\" \"+threshold+\" | \"+inference_time+\" ms | \"+Math.round(bestScore*100)+\" %\"})\n    return msg;    \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":280,"wires":[[]]},{"id":"0bf3257ae300b0b3","type":"status","z":"e81779cdce1fb443","name":"","scope":["3b190d9a6a5daf5a","9fb840c5d4d94920","b8c1da4f3cdd8307","9fba3e50.9c5c3"],"x":1280,"y":340,"wires":[[]]},{"id":"9fb840c5d4d94920","type":"model-gpu","z":"e81779cdce1fb443","name":"","path":"config\\model","x":810,"y":260,"wires":[["9121145c22e03bf3"]]},{"id":"7432dcea7d85f885","type":"comment","z":"e81779cdce1fb443","name":"config\\model","info":"","x":810,"y":300,"wires":[]},{"id":"848b237e48809b7c","type":"change","z":"e81779cdce1fb443","name":"Inference running => false","rules":[{"t":"set","p":"inference_running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":200,"wires":[["c03eee63f3e43d93"]]},{"id":"b8c1da4f3cdd8307","type":"function","z":"e81779cdce1fb443","name":"Update status","func":"global.set(\"inference_running\",true)\nnode.status({fill:\"blue\",shape:\"dot\",text:\"Inference running...\"})\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":80,"wires":[["ea998f90d88b3a6b"]]},{"id":"6bd4fa0fb06c9af4","type":"change","z":"e81779cdce1fb443","name":"","rules":[{"t":"set","p":"inference_running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":400,"wires":[[]]},{"id":"f51a249d6620a258","type":"inject","z":"e81779cdce1fb443","name":"","repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":170,"y":400,"wires":[["6bd4fa0fb06c9af4"]]},{"id":"ea998f90d88b3a6b","type":"msg-speed","z":"e81779cdce1fb443","name":"","frequency":"sec","interval":"1","estimation":false,"ignore":false,"pauseAtStartup":false,"x":230,"y":160,"wires":[["52af5214a9210842"],["d8d60987ed54099c"]]},{"id":"52af5214a9210842","type":"switch","z":"e81779cdce1fb443","name":"Speed == 0?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":340,"wires":[["8de252da71c4fa0f"]]},{"id":"8de252da71c4fa0f","type":"change","z":"e81779cdce1fb443","name":"Inference running => false","rules":[{"t":"set","p":"inference_running","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[[]]},{"id":"c03eee63f3e43d93","type":"function","z":"e81779cdce1fb443","name":"Calculate object sizes","func":"var image_width_cm = JSON.parse(env.get(\"image_width_cm\"))[msg.topic]\n\nvar result = msg.payload;\n\nfor(var i=0;i<result.length;i++){\n      //Approximate object length\n    px_in_cm = image_width_cm / msg.width\n    \n    object_size_cm = px_in_cm * result[i].bbox[2]\n    result[i].length_cm = Math.round(object_size_cm)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":240,"wires":[["cde8571ac206c091"]]},{"id":"9121145c22e03bf3","type":"delay","z":"e81779cdce1fb443","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":850,"y":140,"wires":[["a81e276ec23a74e7"]]},{"id":"9b3183127987134d","type":"subflow","name":"[AI] Crop & TM","info":"Crop objects from image based on any '[AI] Detect' subflow result and run classification on cropped area(s) with Teachable Machine model.\n\nScore and label from classification can replace existing values from object detection.\n\nCropped areas can be saved to or deleted.\n\nImage must be buffer in 'msg.payload.image'\n\nObject detection result must be in 'msg.payload.inference.result'\n\nResult to be cropped should be array of objects in following format:\n\n[\n   {\n    \"bbox\":[x,y,w,h],\n    \"label\":\"label\",\n    \"score\":0    \n   }\n]\n\nTeachable machine model is loaded from your node-red static path from model 'tm-model'.\n\nhttpStatic: '_your node-red path_\\\\_static_content_folder_\\\\tm-model'","category":"Tequ-API Client","in":[{"x":60,"y":60,"wires":[{"id":"b69a5738ed6dc877"}]}],"out":[{"x":960,"y":280,"wires":[{"id":"f8031b51e4e6f8a2","port":0},{"id":"d010b2611dc9efb2","port":0}]}],"env":[{"name":"replace_ca_scores","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}},{"name":"remove_crop_buffers","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}},{"name":"replace_threshold","type":"num","value":"0.5","ui":{"type":"spinner","opts":{"min":0,"max":1}}}],"meta":{"module":"node-red-contrib-tequ-ai-tm-crop","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Crop any [AI] Detect subflows result object from image and run classification on croppped area with Teachable Machine model.","license":"MIT"},"color":"#FFCC66","icon":"node-red/status.svg","status":{"x":960,"y":360,"wires":[{"id":"9969044452d2f2da","port":0}]}},{"id":"a12e9b5dd924ba06","type":"teachable machine","z":"9b3183127987134d","name":"","mode":"online","modelUrl":"http://localhost:1880/tm-model/","localModel":"teachable_model","output":"best","activeThreshold":true,"threshold":"50","activeMaxResults":true,"maxResults":"1","passThrough":false,"x":610,"y":200,"wires":[["0b07d7c6a30fa754"]]},{"id":"953318e181f7b8e0","type":"function","z":"9b3183127987134d","name":"Crop detected objects","func":"var data = msg.payload;\nvar imageBuffer = msg.payload.image.buffer;\n\nimage_type = 'image/jpeg'\nimage_settings = {\"quality\":0.8}\n\nasync function createThumbnail(image,x,y,w,h) {\n  const localImage = await canvas.loadImage(image);  \n  \n  sx = x\n  sy = y\n  sw = w\n  sh = h\n  dx = 0;\n  dy = 0;\n  dw = w\n  dh = h\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,sx,sy,sw,sh,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type,image_settings);\n}\n\nfor(var i=0;i<data.inference.result.length;i++){\n    x = data.inference.result[i].bbox[0]\n    y = data.inference.result[i].bbox[1]\n    w = data.inference.result[i].bbox[2]\n    h = data.inference.result[i].bbox[3]\n    data.inference.result[i].buffer = await createThumbnail(imageBuffer,x,y,w,h)\n}\n\nmsg.result = data;\nmsg.payload = data.inference.result;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":620,"y":80,"wires":[["2682f1abf01f3100"]]},{"id":"2f4b9221b88c2430","type":"change","z":"9b3183127987134d","name":"end timer","rules":[{"t":"set","p":"total_tm_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["f8031b51e4e6f8a2"]]},{"id":"d3f846fd801deac2","type":"change","z":"9b3183127987134d","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["953318e181f7b8e0"]]},{"id":"42b72f344fb608b6","type":"function","z":"9b3183127987134d","name":"isBuffer?","func":"timestamp = new Date().toISOString();\n\nif(Buffer.isBuffer(msg.payload)){\n    node.status({fill:\"green\",shape:\"dot\",text:timestamp + \" OK\"});  \n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:timestamp + \" Not an image\"});  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":200,"wires":[["a12e9b5dd924ba06"]]},{"id":"2682f1abf01f3100","type":"split","z":"9b3183127987134d","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":330,"y":140,"wires":[["29071b68ec07fe52"]]},{"id":"29071b68ec07fe52","type":"change","z":"9b3183127987134d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["42b72f344fb608b6"]]},{"id":"0b07d7c6a30fa754","type":"join","z":"9b3183127987134d","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":330,"y":280,"wires":[["2f4b9221b88c2430"]]},{"id":"f8031b51e4e6f8a2","type":"function","z":"9b3183127987134d","name":"Set results","func":"tm_results  = msg.payload;\nca_results  = msg.result;\ntotal_tm_ms = msg.total_tm_ms;\nreplace_scores = env.get(\"replace_scores\");\nremove_crop_buffers = env.get(\"remove_crop_buffers\");\nreplace_threshold = env.get(\"replace_threshold\");\n\nfor(var i=0; i<(ca_results.inference.result).length; i++){\n    if(remove_crop_buffers){\n        delete ca_results.inference.result[i].buffer;\n    }\n    \n    if(replace_scores){\n        original_score = ca_results.inference.result[i].score;\n        tm_score = tm_results[i][0].score;\n        \n        //node.warn(original_score)\n        //node.warn(tm_score)\n        //node.warn(replace_threshold)\n        if(original_score < replace_threshold){\n            ca_results.inference.result[i].label = tm_results[i][0].class;\n            ca_results.inference.result[i].score = tm_results[i][0].score;\n            ca_results.inference.result[i].class = tm_results[i][0].class;    \n        }\n    }        \n    else{\n        ca_results.inference.result[i].tm = {\n        \"label\":tm_results[i][0].class,\n        \"score\":tm_results[i][0].score\n        }    \n    }\n}\n\ndelete msg.result;\ndelete msg.classes;\nmsg.payload = ca_results;\nnode.status({fill:\"green\",shape:\"dot\",text:total_tm_ms+\" ms\"});  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":280,"wires":[[]]},{"id":"9969044452d2f2da","type":"status","z":"9b3183127987134d","name":"","scope":null,"x":820,"y":360,"wires":[[]]},{"id":"e1ea115cc00a5108","type":"link in","z":"9b3183127987134d","name":"Output in","links":["e848558c953c39d8"],"x":855,"y":20,"wires":[["d010b2611dc9efb2"]]},{"id":"b69a5738ed6dc877","type":"switch","z":"9b3183127987134d","name":"empty?","property":"payload.inference.result","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":180,"y":60,"wires":[["e848558c953c39d8"],["d3f846fd801deac2"]]},{"id":"e848558c953c39d8","type":"link out","z":"9b3183127987134d","name":"to output","links":["e1ea115cc00a5108"],"x":295,"y":20,"wires":[]},{"id":"d010b2611dc9efb2","type":"function","z":"9b3183127987134d","name":"status","func":"node.status({fill:\"red\",shape:\"dot\",text:\"No objects.\"});  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":120,"wires":[[]]},{"id":"57e328f1e4f3428c","type":"subflow:e81779cdce1fb443","z":"9b3183127987134d","name":"","env":[],"x":370,"y":460,"wires":[[],[]]},{"id":"c390a2820566a19e","type":"subflow:9b3183127987134d","z":"d994f01a5b816cf9","name":"","x":160,"y":1560,"wires":[[]]}]