subflows/ai-crop-detected-object.json
[{"id":"0e137f620f4ce39e","type":"subflow","name":"[AI] Crop detected object","info":"","category":"Tequ-API Client","in":[{"x":60,"y":40,"wires":[{"id":"e2336eba827b2a60"}]}],"out":[{"x":660,"y":160,"wires":[{"id":"a521ae23ec706dce","port":0}]}],"env":[{"name":"x_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"y_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"w_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"h_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}}],"meta":{"module":"[AI] Crop detected object","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Crops results from '[AI] Inference'","license":"MIT"},"color":"#FFCC66","icon":"node-red-contrib-image-info/resolution.png","status":{"x":660,"y":240,"wires":[{"id":"ec635d4302e74381","port":0}]}},{"id":"05afb78bbc410b49","type":"function","z":"0e137f620f4ce39e","name":"Crop detected object","func":"var input = msg.payload;\n\nx = msg.result.bbox[0] + env.get(\"x_offset\")\ny = msg.result.bbox[1] + env.get(\"y_offset\")\nw = msg.result.bbox[2] + env.get(\"w_offset\")\nh = msg.result.bbox[3] + env.get(\"h_offset\")\n\nimage_type = 'image/jpeg'\nimage_settings = {\"quality\":0.8}\n\nasync function createThumbnail(image) {\n  const localImage = await canvas.loadImage(image);  \n  \n  sx = x\n  sy = y\n  sw = w\n  sh = h\n  dx = 0;\n  dy = 0;\n  dw = w\n  dh = h\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,sx,sy,sw,sh,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type,image_settings);\n}\n\nmsg.payload = await createThumbnail(input)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":340,"y":100,"wires":[["a521ae23ec706dce"]]},{"id":"a521ae23ec706dce","type":"change","z":"0e137f620f4ce39e","name":"end timer","rules":[{"t":"set","p":"crop_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"e2336eba827b2a60","type":"change","z":"0e137f620f4ce39e","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":40,"wires":[["05afb78bbc410b49"]]},{"id":"ec635d4302e74381","type":"status","z":"0e137f620f4ce39e","name":"","scope":null,"x":300,"y":240,"wires":[[]]},{"id":"617d3f61abf9ce6e","type":"subflow:0e137f620f4ce39e","z":"329180c.cb1438","name":"","env":[],"x":570,"y":620,"wires":[[]]}]
