subflows/api-add-video.json
[{"id":"b8fbe62fead66051","type":"subflow","name":"[API] Add video clip","info":"This node sends single video clip to Tequ-API. \n\nEndpoint used is /video/add\n\nYou need to add Bearer token to msg.token.\n\nYou can configure maximum times to try sending by parameter \"times_to_try\" in node config.","category":"Tequ-API Client","in":[{"x":100,"y":80,"wires":[{"id":"00e3679fc53ddc63"}]}],"out":[{"x":1420,"y":80,"wires":[{"id":"7f8b0060df7068e8","port":0}]},{"x":840,"y":240,"wires":[{"id":"ad5d029407a79463","port":0}]}],"env":[{"name":"times_to_try","type":"num","value":"3"}],"meta":{"module":"node-red-contrib-tequ-api-add-video-clip","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Send video clip to Tequ-API.","license":"MIT"},"color":"#3FADB5","icon":"font-awesome/fa-globe","status":{"x":1220,"y":360,"wires":[{"id":"3a3e6603366020e7","port":0}]}},{"id":"ad5d029407a79463","type":"http request","z":"b8fbe62fead66051","name":"POST","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":670,"y":140,"wires":[["694703b967bf7f61"]]},{"id":"a56004f39a8625a5","type":"function","z":"b8fbe62fead66051","name":"HTTP request","func":"if(msg.token){\n    times_to_try = env.get(\"times_to_try\")\n    token = msg.token;\n    msg.data = msg.payload;\n    msg.method = \"POST\";\n    msg.url = \"https://tequ-api.eu-de.mybluemix.net/api/v1/video/add\"\n    msg.headers  = {\n                    \"Content-Type\": \"application/json\",\n                    'Authorization': \"Bearer \"+token \n    };\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Sending video clip...\"})\n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:\"msg.token is missing\"})\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":80,"wires":[["ad5d029407a79463"]]},{"id":"694703b967bf7f61","type":"switch","z":"b8fbe62fead66051","name":"statusCode?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"500","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":870,"y":140,"wires":[["a0f79113918670e4"],["7f6ef0613391d9ad"],["d0f3ccda13482db7"]]},{"id":"d8a193b50f2eef8a","type":"link out","z":"b8fbe62fead66051","name":"","links":["3e672b1b28681dfe"],"x":1415,"y":160,"wires":[]},{"id":"3e672b1b28681dfe","type":"link in","z":"b8fbe62fead66051","name":"Try again","links":["d8a193b50f2eef8a"],"x":195,"y":140,"wires":[["9adda9c6deb4f5ec"]]},{"id":"d0f3ccda13482db7","type":"function","z":"b8fbe62fead66051","name":"Format for resend","func":"times_to_try = env.get(\"times_to_try\")\n\nif(msg.times_to_try >= times_to_try){\n    node.status({fill:\"red\",shape:\"dot\",text:msg.statusCode+\": \"+msg.payload.message})\n    msg.times_to_try = msg.times_to_try + 1\n    return msg;\n}\nelse{\n    msg.payload = msg.data\n    msg.times_to_try = msg.times_to_try + 1\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Trying again... \"+msg.times_to_try+\"/\"+times_to_try})\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1090,"y":160,"wires":[["58e7668564dc0dc6"]]},{"id":"58e7668564dc0dc6","type":"delay","z":"b8fbe62fead66051","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":1280,"y":160,"wires":[["d8a193b50f2eef8a"]]},{"id":"3a3e6603366020e7","type":"status","z":"b8fbe62fead66051","name":"","scope":["a56004f39a8625a5","d0f3ccda13482db7","7f8b0060df7068e8","4eea20db39afbd82"],"x":1080,"y":360,"wires":[[]]},{"id":"7f8b0060df7068e8","type":"function","z":"b8fbe62fead66051","name":"Status","func":"node.status({fill:\"green\",shape:\"dot\",text:\"Video clip sent @\"+msg.sent_timestamp+\" in \"+msg.send_time+\" ms\"})\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1310,"y":80,"wires":[[]]},{"id":"c682c6113ef9881d","type":"change","z":"b8fbe62fead66051","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":80,"wires":[["a56004f39a8625a5"]]},{"id":"a0f79113918670e4","type":"change","z":"b8fbe62fead66051","name":"end timer","rules":[{"t":"set","p":"send_time","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":80,"wires":[["67e3740736305dda"]]},{"id":"00e3679fc53ddc63","type":"change","z":"b8fbe62fead66051","name":"","rules":[{"t":"set","p":"times_to_try","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":80,"wires":[["c682c6113ef9881d"]]},{"id":"9adda9c6deb4f5ec","type":"switch","z":"b8fbe62fead66051","name":"times_to_try?","property":"times_to_try","propertyType":"msg","rules":[{"t":"gt","v":"times_to_try","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":140,"wires":[["7f6ef0613391d9ad"],["c682c6113ef9881d"]]},{"id":"4eea20db39afbd82","type":"file","z":"b8fbe62fead66051","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":710,"y":360,"wires":[["6c95575b3da757b4"]]},{"id":"8b718d4f07f6116a","type":"function","z":"b8fbe62fead66051","name":"Format filename","func":"var platform = os.platform();\nvar name = (msg.data.properties.object.data.original.objectname).split(\".\")[0]\n\nif(platform == \"linux\"){\n    msg.filename = 'videos/'+msg.ts_for_file+\"/\"+name+\".json\";\n}\nelse if(platform == \"win32\"){\n    msg.filename = \"videos\\\\\"+msg.ts_for_file+\"\\\\\"+name+\".json\";\n}\n\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"os","module":"os"}],"x":540,"y":360,"wires":[["4eea20db39afbd82"]]},{"id":"6c95575b3da757b4","type":"function","z":"b8fbe62fead66051","name":"Update status","func":"node.status({fill:\"blue\",shape:\"dot\",text:\"Payload saved to file.\"})","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":360,"wires":[]},{"id":"7f6ef0613391d9ad","type":"moment","z":"b8fbe62fead66051","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"ts_for_file","outputType":"msg","outTz":"ETC/UTC","x":320,"y":360,"wires":[["8b718d4f07f6116a"]]},{"id":"67e3740736305dda","type":"moment","z":"b8fbe62fead66051","name":"ts","topic":"","input":"","inputType":"date","inTz":"Europe/Kiev","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"sent_timestamp","outputType":"msg","outTz":"Europe/Kiev","x":1190,"y":80,"wires":[["7f8b0060df7068e8"]]},{"id":"3ff7b7bae3f2c0bc","type":"subflow:b8fbe62fead66051","z":"d994f01a5b816cf9","name":"[API] Add video clip","env":[{"name":"failed_to_send_path","value":"/root/failed/","type":"str"}],"x":750,"y":740,"wires":[[],[]]}]
