subflows/api-send-image.json
[{"id":"fcd42407.59d1a8","type":"subflow","name":"[API] Send image","info":"This node sends single image to Tequ-API. \n\nEndpoint used is /image/add\n\nYou need to add Bearer token to msg.token.\n\nYou can configure maximum times to try sending by parameter \"times_to_try\" in node config.","category":"Tequ-API","in":[{"x":40,"y":40,"wires":[{"id":"80c6d087.30ca7"}]}],"out":[{"x":1280,"y":60,"wires":[{"id":"f6e7b71a.50b0f8","port":0}]}],"env":[{"name":"times_to_try","type":"num","value":"3","ui":{"type":"spinner","opts":{"min":1,"max":10}}}],"meta":{},"color":"#FFCC66","inputLabels":["Data in"],"outputLabels":["Data out"],"icon":"node-red/white-globe.svg","status":{"x":1280,"y":320,"wires":[{"id":"9363fb9a.c3f578","port":0}]}},{"id":"5b933476.fc386c","type":"http request","z":"fcd42407.59d1a8","name":"POST","method":"use","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":true,"proxy":"","authType":"","x":530,"y":100,"wires":[["5b3e2fe4.4c3f9"]]},{"id":"f17ef03d.d18bf","type":"function","z":"fcd42407.59d1a8","name":"HTTP request","func":"if('token' in msg){\n    times_to_try = env.get(\"times_to_try\")\n    token = msg.token;\n    msg.data = msg.payload;\n    msg.method = \"POST\";\n    msg.url = \"https://tequ-api.eu-de.mybluemix.net/api/v1/image/add\"\n    msg.headers  = {\n                    \"Content-Type\": \"application/json\",\n                    'Authorization': \"Bearer \"+token \n    };\n    node.status({fill:\"blue\",shape:\"dot\",text:\"Sending image...\"})\n    return [msg,null];\n}\nelse{\n    times_to_try = env.get(\"times_to_try\")\n    token = msg.token;\n    msg.data = msg.payload;\n    msg.method = \"POST\";\n    msg.url = \"https://tequ-api.eu-de.mybluemix.net/api/v1/image/add\"\n    msg.headers  = {\n                    \"Content-Type\": \"application/json\",\n                    'Authorization': \"Bearer \"+token \n    };\n    msg.statusCode = 401;\n    node.status({fill:\"red\",shape:\"dot\",text:\"msg.token is missing\"})\n    return [null,msg];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":40,"wires":[["5b933476.fc386c"],["5b3e2fe4.4c3f9"]]},{"id":"5b3e2fe4.4c3f9","type":"switch","z":"fcd42407.59d1a8","name":"statusCode?","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":100,"wires":[["68394e6b.8b877"],["b6efc528.054bc8"]]},{"id":"f4f14ebd.6e975","type":"link out","z":"fcd42407.59d1a8","name":"","links":["d1c084fc.4da468"],"x":1275,"y":120,"wires":[]},{"id":"d1c084fc.4da468","type":"link in","z":"fcd42407.59d1a8","name":"Try again","links":["f4f14ebd.6e975"],"x":55,"y":100,"wires":[["a8257482.0d16e8"]]},{"id":"b6efc528.054bc8","type":"function","z":"fcd42407.59d1a8","name":"Format for resend","func":"times_to_try = env.get(\"times_to_try\")\n\nif(msg.times_to_try >= times_to_try){\n    node.status({fill:\"red\",shape:\"dot\",text:msg.statusCode+\": \"+msg.payload.message})\n    msg.times_to_try = msg.times_to_try + 1\n    return msg;\n}\nelse{\n    msg.payload = msg.data\n    msg.times_to_try = msg.times_to_try + 1\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"Trying again... \"+msg.times_to_try+\"/\"+times_to_try})\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":120,"wires":[["e8a7bd1f.28f73"]]},{"id":"e8a7bd1f.28f73","type":"delay","z":"fcd42407.59d1a8","name":"","pauseType":"random","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"5","randomLast":"10","randomUnits":"seconds","drop":false,"x":1140,"y":120,"wires":[["f4f14ebd.6e975"]]},{"id":"9363fb9a.c3f578","type":"status","z":"fcd42407.59d1a8","name":"","scope":["f17ef03d.d18bf","b6efc528.054bc8","f6e7b71a.50b0f8","9fb35f6f.022b"],"x":900,"y":320,"wires":[[]]},{"id":"f6e7b71a.50b0f8","type":"function","z":"fcd42407.59d1a8","name":"Status","func":"node.status({fill:\"green\",shape:\"dot\",text:\"Image sent @\"+msg.sent_timestamp+\" in \"+msg.send_time+\" ms\"})\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":60,"wires":[[]]},{"id":"aba7379c.9aec88","type":"change","z":"fcd42407.59d1a8","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":40,"wires":[["f17ef03d.d18bf"]]},{"id":"68394e6b.8b877","type":"change","z":"fcd42407.59d1a8","name":"end timer","rules":[{"t":"set","p":"send_time","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":60,"wires":[["8a74eebe.fdbc8"]]},{"id":"80c6d087.30ca7","type":"change","z":"fcd42407.59d1a8","name":"","rules":[{"t":"set","p":"times_to_try","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":40,"wires":[["aba7379c.9aec88"]]},{"id":"a8257482.0d16e8","type":"switch","z":"fcd42407.59d1a8","name":"times_to_try?","property":"times_to_try","propertyType":"msg","rules":[{"t":"gt","v":"times_to_try","vt":"env"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":100,"wires":[["235873ad.c9440c"],["aba7379c.9aec88"]]},{"id":"9fb35f6f.022b","type":"file","z":"fcd42407.59d1a8","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":610,"y":260,"wires":[["ca8420ca.fbcfa"]]},{"id":"3faa6785.3e0888","type":"function","z":"fcd42407.59d1a8","name":"Format filename","func":"name = (msg.data.properties.object.data.original.objectname).split(\".\")[0]\nmsg.filename = \"images\\\\\"+msg.ts_for_file+\"\\\\\"+name+\".json\";\nmsg.payload = msg.data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":260,"wires":[["9fb35f6f.022b"]]},{"id":"ca8420ca.fbcfa","type":"function","z":"fcd42407.59d1a8","name":"Update status","func":"node.status({fill:\"blue\",shape:\"dot\",text:\"Payload saved to file.\"})","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":260,"wires":[]},{"id":"235873ad.c9440c","type":"moment","z":"fcd42407.59d1a8","name":"","topic":"","input":"","inputType":"date","inTz":"ETC/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD","locale":"en-US","output":"ts_for_file","outputType":"msg","outTz":"ETC/UTC","x":220,"y":260,"wires":[["3faa6785.3e0888"]]},{"id":"8a74eebe.fdbc8","type":"moment","z":"fcd42407.59d1a8","name":"ts","topic":"","input":"","inputType":"date","inTz":"Europe/Kiev","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss","locale":"en-US","output":"sent_timestamp","outputType":"msg","outTz":"Europe/Kiev","x":1050,"y":60,"wires":[["f6e7b71a.50b0f8"]]},{"id":"66e4f850.ae1f38","type":"subflow:fcd42407.59d1a8","z":"329180c.cb1438","name":"","env":[],"x":230,"y":740,"wires":[[]]}]
