subflows/api-create-datapacket.json
[{"id":"f8cb81a40646e136","type":"subflow","name":"IP-stream","info":"","category":"Tequ-API Client","in":[{"x":80,"y":80,"wires":[{"id":"12e339d27b709b4f"}]}],"out":[{"x":1160,"y":160,"wires":[{"id":"03627a8e3edfcb02","port":0}]},{"x":1160,"y":200,"wires":[{"id":"24bd02d88996bb85","port":0}]},{"x":1160,"y":260,"wires":[{"id":"91de6896b2ba649a","port":0}]}],"env":[{"name":"stream_url","type":"str","value":"","ui":{"type":"input","opts":{"types":["str","env"]}}},{"name":"stream_id","type":"str","value":"","ui":{"type":"input","opts":{"types":["str","env"]}}}],"meta":{"version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","license":"MIT"},"color":"#A6BBCF","icon":"font-awesome/fa-video-camera","status":{"x":1160,"y":320,"wires":[{"id":"c07a1479fb94d8ae","port":0}]}},{"id":"303a43eff1bc0e7e","type":"multipart-decoder","z":"f8cb81a40646e136","name":"Datasource","ret":"bin","url":"","tls":"","delay":0,"maximum":"2000000","blockSize":1,"x":350,"y":180,"wires":[["88ef25e2e3ddeddf"]]},{"id":"88ef25e2e3ddeddf","type":"msg-speed","z":"f8cb81a40646e136","name":"Img / s","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":510,"y":180,"wires":[["8b24bd284341db7a","03627a8e3edfcb02"],["8b95dde42caf2f4b"]]},{"id":"24bd02d88996bb85","type":"delay","z":"f8cb81a40646e136","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"x":1010,"y":200,"wires":[[]]},{"id":"1020723e14bebedf","type":"change","z":"f8cb81a40646e136","name":"stop","rules":[{"t":"set","p":"stop","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":200,"wires":[["303a43eff1bc0e7e"]]},{"id":"12e339d27b709b4f","type":"change","z":"f8cb81a40646e136","name":"start","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"},{"t":"set","p":"url","pt":"msg","to":"stream_url","tot":"env"},{"t":"set","p":"topic","pt":"msg","to":"stream_id","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":160,"wires":[["303a43eff1bc0e7e"]]},{"id":"d8e1324ba9f50a2c","type":"link in","z":"f8cb81a40646e136","name":"stop stream #2","links":["fc2219a100d32ee2"],"x":95,"y":200,"wires":[["1020723e14bebedf"]]},{"id":"1a832b234ee1f986","type":"link in","z":"f8cb81a40646e136","name":"start stream #2","links":["b4216b019c4d32b2"],"x":95,"y":160,"wires":[["12e339d27b709b4f"]]},{"id":"8b24bd284341db7a","type":"switch","z":"f8cb81a40646e136","name":"== 0","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":120,"wires":[["f64b2596bdb16e61"]]},{"id":"fc2219a100d32ee2","type":"link out","z":"f8cb81a40646e136","name":"stop cmd 2 out","links":["d8e1324ba9f50a2c"],"x":1155,"y":80,"wires":[]},{"id":"b5c969aa471efe48","type":"trigger","z":"f8cb81a40646e136","name":"","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","outputs":1,"x":1020,"y":120,"wires":[["b4216b019c4d32b2"]]},{"id":"b4216b019c4d32b2","type":"link out","z":"f8cb81a40646e136","name":"trigger 2 out","links":["1a832b234ee1f986"],"x":1155,"y":120,"wires":[]},{"id":"f64b2596bdb16e61","type":"delay","z":"f8cb81a40646e136","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":830,"y":120,"wires":[["b5c969aa471efe48","fc2219a100d32ee2"]]},{"id":"91de6896b2ba649a","type":"function","z":"f8cb81a40646e136","name":"isBuffer?","func":"timestamp = msg.next_timestamp;\nvar image = msg.payload;\nmsg.mimetype = \"image/jpeg\";\n\nif(Buffer.isBuffer(image)){\n    node.status({fill:\"green\",shape:\"dot\",text:\"DS: \"+env.get(\"stream_id\")+\" | Streaming... \"+ timestamp});  \n    return msg;\n}\nelse{\n    node.status({fill:\"red\",shape:\"dot\",text:timestamp + \" Not an image\"});  \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":240,"wires":[["24bd02d88996bb85"]]},{"id":"03627a8e3edfcb02","type":"change","z":"f8cb81a40646e136","name":"Set datasource to topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"stream_id","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":160,"wires":[[]]},{"id":"c07a1479fb94d8ae","type":"status","z":"f8cb81a40646e136","name":"","scope":["91de6896b2ba649a","303a43eff1bc0e7e"],"x":680,"y":320,"wires":[[]]},{"id":"8b95dde42caf2f4b","type":"moment","z":"f8cb81a40646e136","name":"set ts","topic":"","input":"","inputType":"date","inTz":"Europe/Kiev","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm:ss.SSS","locale":"en-US","output":"next_timestamp","outputType":"msg","outTz":"Europe/Kiev","x":510,"y":240,"wires":[["91de6896b2ba649a"]]},{"id":"81bf53c327805d5c","type":"subflow:f8cb81a40646e136","z":"329180c.cb1438","name":"IP-camera","env":[],"x":210,"y":440,"wires":[[],[],[]]}]
