subflows/cam-rpi-libcamera-mjpeg.json
[{"id":"ab9dbad12a678b91","type":"subflow","name":"[CAM] RPi libcamera","info":"This subflow uses libcamera-still and libcamera-vid modules.\n\nOld raspistill and raspivid are not supported in this version.\n\nhttps://www.raspberrypi.org/documentation/accessories/camera.html","category":"Tequ-API Client","in":[{"x":60,"y":80,"wires":[{"id":"fb66bba3c29c32c7"}]}],"out":[{"x":1100,"y":120,"wires":[{"id":"f9e69eaadb00e7a9","port":1}]},{"x":1100,"y":200,"wires":[{"id":"5c7620f3848b09ec","port":0}]},{"x":1100,"y":260,"wires":[{"id":"bb63bc92a6af87bd","port":0}]}],"env":[{"name":"width","type":"num","value":"1920","ui":{"type":"spinner","opts":{"min":1,"max":4056}}},{"name":"height","type":"num","value":"1080","ui":{"type":"spinner","opts":{"min":1,"max":3040}}},{"name":"framerate","type":"num","value":"5","ui":{"type":"spinner","opts":{"min":1,"max":60}}},{"name":"rotation","type":"str","value":"0","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"180 °"},"v":"180"}]}}},{"name":"camera_mode","type":"str","value":"video","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"still"},"v":"still"},{"l":{"en-US":"video"},"v":"video"},{"l":{"en-US":"raw"},"v":"raw"}]}}},{"name":"timeout","type":"str","value":"100","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"10 ms"},"v":"10"},{"l":{"en-US":"100 ms"},"v":"100"},{"l":{"en-US":"250 ms"},"v":"250"},{"l":{"en-US":"500 ms"},"v":"500"},{"l":{"en-US":"1 seconds"},"v":"1000"},{"l":{"en-US":"2 seconds"},"v":"2000"},{"l":{"en-US":"3 seconds"},"v":"3000"},{"l":{"en-US":"4 seconds"},"v":"4000"},{"l":{"en-US":"5 seconds"},"v":"5000"},{"l":{"en-US":"6 seconds"},"v":"6000"},{"l":{"en-US":"7 seconds"},"v":"7000"},{"l":{"en-US":"8 seconds"},"v":"8000"},{"l":{"en-US":"9 seconds"},"v":"9000"},{"l":{"en-US":"10 seconds"},"v":"10000"},{"l":{"en-US":"15 seconds"},"v":"15000"},{"l":{"en-US":"20 seconds"},"v":"20000"},{"l":{"en-US":"25 seconds"},"v":"25000"},{"l":{"en-US":"30 seconds"},"v":"30000"}]}}},{"name":"brightness","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-1,"max":1}}},{"name":"saturation","type":"num","value":"1","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"contrast","type":"num","value":"1","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"sharpness","type":"num","value":"1","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"quality","type":"num","value":"100","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"metering","type":"str","value":"centre","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"centre"},"v":"centre"},{"l":{"en-US":"spot"},"v":"spot"},{"l":{"en-US":"average"},"v":"average"},{"l":{"en-US":"custom"},"v":"custom"}]}}},{"name":"exposure","type":"str","value":"normal","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"normal"},"v":"normal"},{"l":{"en-US":"sport"},"v":"sport"}]}}},{"name":"shutter","type":"str","value":"default","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"default"},"v":"default"},{"l":{"en-US":"1/4 seconds"},"v":"250000"},{"l":{"en-US":"1/2 seconds"},"v":"500000"},{"l":{"en-US":"1 second"},"v":"1000000"},{"l":{"en-US":"2 seconds"},"v":"2000000"},{"l":{"en-US":"3 seconds"},"v":"3000000"},{"l":{"en-US":"4 seconds"},"v":"4000000"},{"l":{"en-US":"5 seconds"},"v":"5000000"},{"l":{"en-US":"6 seconds"},"v":"6000000"},{"l":{"en-US":"7 seconds"},"v":"7000000"},{"l":{"en-US":"8 seconds"},"v":"8000000"},{"l":{"en-US":"9 seconds"},"v":"9000000"},{"l":{"en-US":"10 seconds"},"v":"10000000"},{"l":{"en-US":"15 seconds"},"v":"15000000"},{"l":{"en-US":"20 seconds"},"v":"20000000"},{"l":{"en-US":"25 seconds"},"v":"25000000"},{"l":{"en-US":"30 seconds"},"v":"30000000"}]}}},{"name":"awb","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"incandescent"},"v":"incandescent"},{"l":{"en-US":"tungsten"},"v":"tungsten"},{"l":{"en-US":"fluorescent"},"v":"fluorescent"},{"l":{"en-US":"indoor"},"v":"indoor"},{"l":{"en-US":"daylight"},"v":"daylight"},{"l":{"en-US":"cloudy"},"v":"cloudy"},{"l":{"en-US":"custom"},"v":"custom"}]}}},{"name":"denoise","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"cdn_off"},"v":"cdn_off"},{"l":{"en-US":"cdn_fast"},"v":"cdn_fast"},{"l":{"en-US":"cdn_hq"},"v":"cdn_hq"}]}}},{"name":"segment","type":"str","value":"default","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"default"},"v":"default"},{"l":{"en-US":"1"},"v":"1"}]}}}],"meta":{"module":"node-red-contrib-tequ-cam-rpi-libcamera-mjpeg","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Stream MJPEG from Raspberry PI camera using libcamera. Stream is available @http://PI_IP/stream.","license":"MIT"},"color":"#C0DEED","inputLabels":["Command"],"outputLabels":["stdout","stderr","command"],"icon":"font-awesome/fa-video-camera","status":{"x":1100,"y":340,"wires":[{"id":"e9f005393a94f89d","port":0}]}},{"id":"fb36e80326ecae5d","type":"split","z":"ab9dbad12a678b91","name":"Handle JPEG stream","splt":"[255, 216]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":500,"y":40,"wires":[["f92b116ea29d6ae2"]]},{"id":"f92b116ea29d6ae2","type":"function","z":"ab9dbad12a678b91","name":"Add splitted JPEG header","func":"const buffer1 =  Buffer.from([255, 216]);\nconst buffer2 = msg.payload;\n\nconst newBuffer = Buffer.concat([buffer1, buffer2]);\nmsg.payload = newBuffer\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":40,"wires":[["9f375cf9e8e46170"]]},{"id":"7e69ea42a5ef7a2c","type":"multipart-encoder","z":"ab9dbad12a678b91","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":460,"y":520,"wires":[["938acc8dd32ae47b"]]},{"id":"cdb657999d27d146","type":"http in","z":"ab9dbad12a678b91","name":"","url":"/stream","method":"get","upload":false,"swaggerDoc":"","x":290,"y":520,"wires":[["7e69ea42a5ef7a2c"]]},{"id":"938acc8dd32ae47b","type":"http response","z":"ab9dbad12a678b91","name":"","statusCode":"","headers":{},"x":590,"y":520,"wires":[]},{"id":"ee450a60a2a6d67d","type":"exec","z":"ab9dbad12a678b91","command":"libcamera-vid","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":370,"y":120,"wires":[["fb36e80326ecae5d"],["32011a2735a11091"],[]]},{"id":"fb66bba3c29c32c7","type":"function","z":"ab9dbad12a678b91","name":"Format parameters","func":"const camera_mode = String(env.get(\"camera_mode\")).trim();\n\nconst parameters = {\n    \"output\": \"-\",\n    \"framerate\":String(env.get(\"framerate\")).trim(),\n    \"width\": String(env.get(\"width\")).trim(),\n    \"height\": String(env.get(\"height\")).trim(),\n    \"exposure\": String(env.get(\"exposure\")).trim(),\n    \"denoise\": String(env.get(\"denoise\")).trim(),\n    \"shutter\": String(env.get(\"shutter\")).trim(),\n    \"segment\":String(env.get(\"shutter\")).trim(),\n    \"rotation\": String(env.get(\"rotation\")).trim(),\n    \"awb\":String(env.get(\"awb\")).trim(),\n    \"brightness\":String(env.get(\"brightness\")).trim(),\n    \"saturation\":String(env.get(\"saturation\")).trim(),\n    \"contrast\":String(env.get(\"contrast\")).trim(),\n    \"sharpness\":String(env.get(\"sharpness\")).trim(),\n    \"quality\":String(env.get(\"quality\")).trim(),\n    \"timeout\":String(env.get(\"timeout\")).trim(),\n    \"codec\":\"mjpeg\",\n    \"nopreview\":\"\"\n}\n\nfunction createParameters(paramsJSON){\n    \n    cmd_options = \" \" \n    video_related_params = [\"segment\",\"framerate\", \"codec\"]\n    \n    \n    for(let param in paramsJSON){\n        //node.warn(param)\n        //node.warn(paramsJSON[param] )\n\n        if(paramsJSON[param] == \"default\"){\n            //do not add\n        }\n        else if(video_related_params.includes(param) && ( camera_mode == \"still\" || camera_mode == \"raw\") ){\n            // Do not add video related parameters\n        }\n\n        else{\n            cmd_options = cmd_options + \" --\"+param+\" \"+paramsJSON[param]          \n        }\n    }\n    return cmd_options;\n}\n\n//node.warn(parameters)\nmsg.payload = createParameters(parameters)\n\nif(camera_mode== \"video\"){\n    return [msg, null, null]\n}\nelse if(camera_mode == \"still\"){\n    return [null, msg, null]\n}         \nelse{\n    node.warn(\"Raw mode is not yet implemented. Using camera mode 'still' instead\")\n     return [null, null, msg]\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":200,"wires":[["ee450a60a2a6d67d","2e9c42523980451d"],["8b440854f6a30288","2e9c42523980451d"],["2e9c42523980451d","8b440854f6a30288"]],"outputLabels":["libcamera-vid command","libcamera-still command",""]},{"id":"e9f005393a94f89d","type":"status","z":"ab9dbad12a678b91","name":"","scope":null,"x":720,"y":340,"wires":[[]]},{"id":"f9e69eaadb00e7a9","type":"msg-speed","z":"ab9dbad12a678b91","name":"","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":970,"y":100,"wires":[[],[]]},{"id":"9f375cf9e8e46170","type":"link out","z":"ab9dbad12a678b91","name":"libcamera-vid stdout","links":["419a66b1d39e6c8a","a142a77055286513"],"x":815,"y":80,"wires":[]},{"id":"419a66b1d39e6c8a","type":"link in","z":"ab9dbad12a678b91","name":"mjpeg stream in","links":["9f375cf9e8e46170","4221ae8dc42f6f32"],"x":335,"y":480,"wires":[["7e69ea42a5ef7a2c"]]},{"id":"7ef8cdd0451c4f44","type":"comment","z":"ab9dbad12a678b91","name":"Encode MJPEG stream","info":"","x":320,"y":440,"wires":[]},{"id":"8b440854f6a30288","type":"exec","z":"ab9dbad12a678b91","command":"libcamera-still","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":380,"y":240,"wires":[["4221ae8dc42f6f32"],["5444cef28b82a57e"],[]]},{"id":"5444cef28b82a57e","type":"link out","z":"ab9dbad12a678b91","name":"libcamera-still stderr","links":["5c7620f3848b09ec"],"x":615,"y":240,"wires":[]},{"id":"a142a77055286513","type":"link in","z":"ab9dbad12a678b91","name":"output1 in","links":["9f375cf9e8e46170","4221ae8dc42f6f32"],"x":855,"y":140,"wires":[["f9e69eaadb00e7a9"]]},{"id":"5c7620f3848b09ec","type":"link in","z":"ab9dbad12a678b91","name":"output2 in","links":["32011a2735a11091","5444cef28b82a57e"],"x":855,"y":200,"wires":[[]]},{"id":"bb63bc92a6af87bd","type":"link in","z":"ab9dbad12a678b91","name":"output3 in","links":["2e9c42523980451d"],"x":1035,"y":260,"wires":[[]]},{"id":"2e9c42523980451d","type":"link out","z":"ab9dbad12a678b91","name":"command out","links":["bb63bc92a6af87bd"],"x":315,"y":320,"wires":[]},{"id":"4221ae8dc42f6f32","type":"link out","z":"ab9dbad12a678b91","name":"libcamera-vid stdout","links":["419a66b1d39e6c8a","a142a77055286513"],"x":615,"y":200,"wires":[]},{"id":"32011a2735a11091","type":"link out","z":"ab9dbad12a678b91","name":"libcamera-vid stderr","links":["5c7620f3848b09ec"],"x":615,"y":140,"wires":[]},{"id":"cb0ee33dfda16576","type":"function","z":"ab9dbad12a678b91","name":"raise error","func":"node.error(msg.payload, msg)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":260,"wires":[[]]},{"id":"4f24da216c7412d9","type":"subflow:ab9dbad12a678b91","z":"552112e5e00bf24f","name":"","env":[{"name":"width","value":"640","type":"num"},{"name":"height","value":"360","type":"num"},{"name":"rotation","value":"180","type":"str"},{"name":"timeout","value":"0","type":"str"},{"name":"brightness","value":"0.1","type":"num"},{"name":"quality","value":"85","type":"num"},{"name":"segment","value":"1","type":"str"},{"name":"rot","value":"180","type":"str"},{"name":"fps","value":"1","type":"str"},{"name":"stream_still_images","value":"false","type":"bool"},{"name":"mode","value":"0","type":"str"}],"x":160,"y":1000,"wires":[[],[],[]]}]