subflows/cam-rpi-hq-camera.json
[{"id":"3d21bbdb022e2b71","type":"subflow","name":"[CAM] RPi HQ MJPEG ","info":"For working mode, resolution and frame rate combinations check official documentation:\n\nhttps://www.raspberrypi.org/documentation/accessories/camera.html\n\n","category":"Tequ-API Client","in":[{"x":60,"y":80,"wires":[{"id":"aa44f8bd0d3c13a1"}]}],"out":[{"x":980,"y":220,"wires":[{"id":"1d97a36b83cb977d","port":1}]},{"x":600,"y":20,"wires":[{"id":"0a03968197226ca0","port":0},{"id":"3c68881d877c869c","port":0}]},{"x":600,"y":160,"wires":[{"id":"0a03968197226ca0","port":1},{"id":"3c68881d877c869c","port":1}]}],"env":[{"name":"mode","type":"str","value":"2","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"0"},{"l":{"en-US":"2028x1080"},"v":"1"},{"l":{"en-US":"2028x1520"},"v":"2"},{"l":{"en-US":"4056x3040"},"v":"3"},{"l":{"en-US":"1012x760"},"v":"4"}]}}},{"name":"width","type":"str","value":"1920","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"4056"},"v":"4056"},{"l":{"en-US":"2028"},"v":"2028"},{"l":{"en-US":"1920"},"v":"1920"},{"l":{"en-US":"1280"},"v":"1280"},{"l":{"en-US":"1012"},"v":"1012"},{"l":{"en-US":"640"},"v":"640"},{"l":{"en-US":"320"},"v":"320"}]}}},{"name":"height","type":"str","value":"1080","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"3040"},"v":"3040"},{"l":{"en-US":"1520"},"v":"1520"},{"l":{"en-US":"1080"},"v":"1080"},{"l":{"en-US":"760"},"v":"760"},{"l":{"en-US":"720"},"v":"720"},{"l":{"en-US":"480"},"v":"480"},{"l":{"en-US":"240"},"v":"240"}]}}},{"name":"fps","type":"str","value":"25","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"120"},"v":"120"},{"l":{"en-US":"60"},"v":"60"},{"l":{"en-US":"30"},"v":"30"},{"l":{"en-US":"25"},"v":"25"},{"l":{"en-US":"20"},"v":"20"},{"l":{"en-US":"15"},"v":"15"},{"l":{"en-US":"10"},"v":"10"},{"l":{"en-US":"5"},"v":"5"},{"l":{"en-US":"1"},"v":"1"}]}}},{"name":"rot","type":"str","value":"0","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"90 °"},"v":"90"},{"l":{"en-US":"180 °"},"v":"180"},{"l":{"en-US":"270 °"},"v":"270"}]}}},{"name":"stream_still_images","type":"bool","value":"true"},{"name":"timeout","type":"str","value":"0","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"10 ms"},"v":"10"},{"l":{"en-US":"100 ms"},"v":"100"},{"l":{"en-US":"250 ms"},"v":"250"},{"l":{"en-US":"500 ms"},"v":"500"},{"l":{"en-US":"1 seconds"},"v":"1000"},{"l":{"en-US":"2 seconds"},"v":"2000"},{"l":{"en-US":"3 seconds"},"v":"3000"},{"l":{"en-US":"4 seconds"},"v":"4000"},{"l":{"en-US":"5 seconds"},"v":"5000"},{"l":{"en-US":"6 seconds"},"v":"6000"},{"l":{"en-US":"7 seconds"},"v":"7000"},{"l":{"en-US":"8 seconds"},"v":"8000"},{"l":{"en-US":"9 seconds"},"v":"9000"},{"l":{"en-US":"10 seconds"},"v":"10000"},{"l":{"en-US":"15 seconds"},"v":"15000"},{"l":{"en-US":"20 seconds"},"v":"20000"},{"l":{"en-US":"25 seconds"},"v":"25000"},{"l":{"en-US":"30 seconds"},"v":"30000"}]}}},{"name":"brightness","type":"num","value":"50","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"saturation","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"contrast","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"sharpness","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"quality","type":"num","value":"100","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"metering_mode","type":"str","value":"average","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"average"},"v":"average"},{"l":{"en-US":"spot"},"v":"spot"},{"l":{"en-US":"backlit"},"v":"backlit"},{"l":{"en-US":"matrix"},"v":"matrix"}]}}},{"name":"exposure_mode","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"night"},"v":"night"},{"l":{"en-US":"nightpreview"},"v":"nightpreview"},{"l":{"en-US":"backlight"},"v":"backlight"},{"l":{"en-US":"sports"},"v":"sports"},{"l":{"en-US":"snow"},"v":"snow"},{"l":{"en-US":"beach"},"v":"beach"},{"l":{"en-US":"verylong"},"v":"verylong"},{"l":{"en-US":"fixedfps"},"v":"fixedfps"},{"l":{"en-US":"antishake"},"v":"antishake"},{"l":{"en-US":"fireworks"},"v":"fireworks"}]}}},{"name":"shutter_speed","type":"str","value":"10000000","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"1/4 seconds"},"v":"250000"},{"l":{"en-US":"1/2 seconds"},"v":"500000"},{"l":{"en-US":"1 second"},"v":"1000000"},{"l":{"en-US":"2 seconds"},"v":"2000000"},{"l":{"en-US":"3 seconds"},"v":"3000000"},{"l":{"en-US":"4 seconds"},"v":"4000000"},{"l":{"en-US":"5 seconds"},"v":"5000000"},{"l":{"en-US":"6 seconds"},"v":"6000000"},{"l":{"en-US":"7 seconds"},"v":"7000000"},{"l":{"en-US":"8 seconds"},"v":"8000000"},{"l":{"en-US":"9 seconds"},"v":"9000000"},{"l":{"en-US":"10 seconds"},"v":"10000000"},{"l":{"en-US":"15 seconds"},"v":"15000000"},{"l":{"en-US":"20 seconds"},"v":"20000000"},{"l":{"en-US":"25 seconds"},"v":"25000000"},{"l":{"en-US":"30 seconds"},"v":"30000000"}]}}},{"name":"DRC","type":"str","value":"off","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"low"},"v":"low"},{"l":{"en-US":"med"},"v":"med"},{"l":{"en-US":"high"},"v":"high"}]}}},{"name":"AWB","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"sun"},"v":"sun"},{"l":{"en-US":"cloud"},"v":"cloud"},{"l":{"en-US":"shade"},"v":"shade"},{"l":{"en-US":"tungsten"},"v":"tungsten"},{"l":{"en-US":"fluorescent"},"v":"fluorescent"},{"l":{"en-US":"incandescent"},"v":"incandescent"},{"l":{"en-US":"flash"},"v":"flash"},{"l":{"en-US":"horizon"},"v":"horizon"},{"l":{"en-US":"greyworld"},"v":"greyworld"}]}}},{"name":"ISO","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"100"},"v":"100"},{"l":{"en-US":"150"},"v":"150"},{"l":{"en-US":"200"},"v":"200"},{"l":{"en-US":"250"},"v":"250"},{"l":{"en-US":"300"},"v":"300"},{"l":{"en-US":"350"},"v":"350"},{"l":{"en-US":"400"},"v":"400"},{"l":{"en-US":"450"},"v":"450"},{"l":{"en-US":"500"},"v":"500"},{"l":{"en-US":"550"},"v":"550"},{"l":{"en-US":"600"},"v":"600"},{"l":{"en-US":"650"},"v":"650"},{"l":{"en-US":"700"},"v":"700"},{"l":{"en-US":"750"},"v":"750"},{"l":{"en-US":"800"},"v":"800"},{"l":{"en-US":"1600"},"v":"1600"}]}}},{"name":"text_to_image","type":"str","value":"test","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{"module":"node-red-contrib-tequ-cam-rpi-hq-mjpeg","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Stream MJPEG from Raspberry PI HQ-camera. Stream is available @http://PI_IP/stream.","license":"MIT"},"color":"#A6BBCF","inputLabels":["Command"],"outputLabels":["Image stream out","Raw output","stderr"],"icon":"font-awesome/fa-video-camera","status":{"x":980,"y":340,"wires":[{"id":"1f46e6a991a89126","port":0}]}},{"id":"0ec0d627f4e41ed4","type":"split","z":"3d21bbdb022e2b71","name":"Handle JPEG stream","splt":"[255, 216]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":680,"y":60,"wires":[["7b14137d2d443b24"]]},{"id":"7b14137d2d443b24","type":"function","z":"3d21bbdb022e2b71","name":"Add splitted JPEG header","func":"buffer1 =  Buffer.from([255, 216]);\nbuffer2 = msg.payload;\n\nvar newBuffer = Buffer.concat([buffer1, buffer2]);\nmsg.payload = newBuffer\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["5f65e893d1249edf","1d97a36b83cb977d"]]},{"id":"88a5880a0f42ea96","type":"multipart-encoder","z":"3d21bbdb022e2b71","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":520,"y":640,"wires":[["aaf0ed78a27e9a32"]]},{"id":"a0cd0bee80b01428","type":"http in","z":"3d21bbdb022e2b71","name":"","url":"/stream","method":"get","upload":false,"swaggerDoc":"","x":350,"y":640,"wires":[["88a5880a0f42ea96"]]},{"id":"aaf0ed78a27e9a32","type":"http response","z":"3d21bbdb022e2b71","name":"","statusCode":"","headers":{},"x":650,"y":640,"wires":[]},{"id":"0a03968197226ca0","type":"exec","z":"3d21bbdb022e2b71","command":"raspivid ","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":420,"y":160,"wires":[["0ec0d627f4e41ed4"],[],[]]},{"id":"aa44f8bd0d3c13a1","type":"function","z":"3d21bbdb022e2b71","name":"Format parameters","func":"text_to_image = String(env.get(\"text_to_image\")).trim();\nmode    = String(env.get(\"mode\")).trim();\nw       = String(env.get(\"width\")).trim();\nh       = String(env.get(\"height\")).trim();\nfps     = String(env.get(\"fps\")).trim();\nrot     = String(env.get(\"rot\")).trim();\nISO     = String(env.get(\"ISO\")).trim();\nawb     = String(env.get(\"AWB\")).trim();\nDRC     = String(env.get(\"DRC\")).trim();\nbr      = String(env.get(\"brightness\")).trim();\nsa      = String(env.get(\"saturation\")).trim();\nco      = String(env.get(\"contrast\")).trim();\nsh      = String(env.get(\"sharpness\")).trim();\nq       = String(env.get(\"quality\")).trim();\nt       = String(env.get(\"timeout\")).trim();\nmm      = String(env.get(\"metering_mode\")).trim();\n\nif(env.get(\"exposure_mode\") == \"off\"){\n    ex = \"-ex \"+String(env.get(\"exposure_mode\")).trim();\n    ss = \"-ss \"+String(env.get(\"shutter_speed\")).trim();\n}\nelse{\n    ex = \"-ex \"+String(env.get(\"exposure_mode\")).trim();\n    ss = \"\";\n}\n\ntext = \"%Y-%m-%d %X \"+text_to_image;\ntext = text_to_image;\n\n/*\nparams = \"-v\"+\n         \" -md \"+mode+\n         \" -w \"+width+\n         \" -h \"+height+\n         \" -fps \"+fps+\n         \" -cd MJPEG\"+\n         \" -n\"+\n         \" -rot \"+rot+\n         \" -t \"+t+\n         \" -o -\"\n */\n \nif(env.get(\"stream_still_images\")){\n    msg.payload =\" -o - \"+ss+\" \"+ex+\" -mm \"+mm+\" -rot \"+rot+\" -md \"+mode+\" -ISO \"+ISO+\" -awb \"+awb+\" -drc \"+DRC+\" -br \"+br+\" -sh \"+sh+\" -sa \"+sa+\" -co \"+co+\" -q \"+q+\" -t \"+t+\" -w \"+w+\" -h \"+h;\n    node.warn(msg.payload)\n    return [null,msg]\n}         \nelse{\n    t=0\n    msg.payload=\" -o - -cd MJPEG -n \"+ex+\" -rot \"+rot+\" -fps \"+fps+\" -md \"+mode+\" -ISO \"+ISO+\" -awb \"+awb+\" -drc \"+DRC+\" -br \"+br+\" -sh \"+sh+\" -sa \"+sa+\" -co \"+co+\" -t \"+t+\" -w \"+w+\" -h \"+h;\n    node.warn(msg.payload)\n    return [msg,null]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":200,"wires":[["0a03968197226ca0"],["3c68881d877c869c"]]},{"id":"1f46e6a991a89126","type":"status","z":"3d21bbdb022e2b71","name":"","scope":null,"x":720,"y":340,"wires":[[]]},{"id":"1d97a36b83cb977d","type":"msg-speed","z":"3d21bbdb022e2b71","name":"","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":810,"y":200,"wires":[[],[]]},{"id":"5f65e893d1249edf","type":"link out","z":"3d21bbdb022e2b71","name":"","links":["30c460d354899763"],"x":705,"y":260,"wires":[]},{"id":"30c460d354899763","type":"link in","z":"3d21bbdb022e2b71","name":"","links":["5f65e893d1249edf"],"x":395,"y":600,"wires":[["88a5880a0f42ea96"]]},{"id":"9912cfbeb773e2db","type":"comment","z":"3d21bbdb022e2b71","name":"Encode MJPEG stream","info":"","x":380,"y":560,"wires":[]},{"id":"3c68881d877c869c","type":"exec","z":"3d21bbdb022e2b71","command":"raspistill","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":420,"y":240,"wires":[["5f65e893d1249edf","1d97a36b83cb977d"],[],[]]},{"id":"a3cb206234ef95e1","type":"subflow:3d21bbdb022e2b71","z":"d994f01a5b816cf9","name":"","x":400,"y":580,"wires":[[],[],[]]}]