subflows/cam-rpi-hq-camera.json
[{"id":"368085ec7cf67ef7","type":"subflow","name":"[CAM] RPi HQ MJPEG ","info":"For working mode, resolution and frame rate combinations check official documentation:\n\nhttps://www.raspberrypi.org/documentation/accessories/camera.html\n\n","category":"Tequ-API Client","in":[{"x":60,"y":80,"wires":[{"id":"d972af2406c2ec0e"}]}],"out":[{"x":980,"y":220,"wires":[{"id":"eccb51d4352cfc90","port":1}]},{"x":600,"y":20,"wires":[{"id":"46e04f8bf9c3f417","port":0},{"id":"0a95e1b3d0293d44","port":0}]},{"x":600,"y":160,"wires":[{"id":"46e04f8bf9c3f417","port":1},{"id":"0a95e1b3d0293d44","port":1}]}],"env":[{"name":"mode","type":"str","value":"2","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"0"},{"l":{"en-US":"2028x1080"},"v":"1"},{"l":{"en-US":"2028x1520"},"v":"2"},{"l":{"en-US":"4056x3040"},"v":"3"},{"l":{"en-US":"1012x760"},"v":"4"}]}}},{"name":"width","type":"str","value":"1920","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"4056"},"v":"4056"},{"l":{"en-US":"2028"},"v":"2028"},{"l":{"en-US":"1920"},"v":"1920"},{"l":{"en-US":"1280"},"v":"1280"},{"l":{"en-US":"1012"},"v":"1012"},{"l":{"en-US":"640"},"v":"640"},{"l":{"en-US":"320"},"v":"320"}]}}},{"name":"height","type":"str","value":"1080","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"3040"},"v":"3040"},{"l":{"en-US":"1520"},"v":"1520"},{"l":{"en-US":"1080"},"v":"1080"},{"l":{"en-US":"760"},"v":"760"},{"l":{"en-US":"720"},"v":"720"},{"l":{"en-US":"480"},"v":"480"},{"l":{"en-US":"240"},"v":"240"}]}}},{"name":"fps","type":"str","value":"25","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"120"},"v":"120"},{"l":{"en-US":"60"},"v":"60"},{"l":{"en-US":"30"},"v":"30"},{"l":{"en-US":"25"},"v":"25"},{"l":{"en-US":"20"},"v":"20"},{"l":{"en-US":"15"},"v":"15"},{"l":{"en-US":"10"},"v":"10"},{"l":{"en-US":"5"},"v":"5"},{"l":{"en-US":"1"},"v":"1"}]}}},{"name":"rot","type":"str","value":"0","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"90 °"},"v":"90"},{"l":{"en-US":"180 °"},"v":"180"},{"l":{"en-US":"270 °"},"v":"270"}]}}},{"name":"stream_still_images","type":"bool","value":"true","ui":{"type":"input","opts":{"types":["bool"]}}},{"name":"timeout","type":"str","value":"0","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"0"},"v":"0"},{"l":{"en-US":"10 ms"},"v":"10"},{"l":{"en-US":"100 ms"},"v":"100"},{"l":{"en-US":"250 ms"},"v":"250"},{"l":{"en-US":"500 ms"},"v":"500"},{"l":{"en-US":"1 seconds"},"v":"1000"},{"l":{"en-US":"2 seconds"},"v":"2000"},{"l":{"en-US":"3 seconds"},"v":"3000"},{"l":{"en-US":"4 seconds"},"v":"4000"},{"l":{"en-US":"5 seconds"},"v":"5000"},{"l":{"en-US":"6 seconds"},"v":"6000"},{"l":{"en-US":"7 seconds"},"v":"7000"},{"l":{"en-US":"8 seconds"},"v":"8000"},{"l":{"en-US":"9 seconds"},"v":"9000"},{"l":{"en-US":"10 seconds"},"v":"10000"},{"l":{"en-US":"15 seconds"},"v":"15000"},{"l":{"en-US":"20 seconds"},"v":"20000"},{"l":{"en-US":"25 seconds"},"v":"25000"},{"l":{"en-US":"30 seconds"},"v":"30000"}]}}},{"name":"brightness","type":"num","value":"50","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"saturation","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"contrast","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"sharpness","type":"num","value":"0","ui":{"type":"spinner","opts":{"min":-100,"max":100}}},{"name":"quality","type":"num","value":"100","ui":{"type":"spinner","opts":{"min":0,"max":100}}},{"name":"metering_mode","type":"str","value":"average","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"average"},"v":"average"},{"l":{"en-US":"spot"},"v":"spot"},{"l":{"en-US":"backlit"},"v":"backlit"},{"l":{"en-US":"matrix"},"v":"matrix"}]}}},{"name":"exposure_mode","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"night"},"v":"night"},{"l":{"en-US":"nightpreview"},"v":"nightpreview"},{"l":{"en-US":"backlight"},"v":"backlight"},{"l":{"en-US":"sports"},"v":"sports"},{"l":{"en-US":"snow"},"v":"snow"},{"l":{"en-US":"beach"},"v":"beach"},{"l":{"en-US":"verylong"},"v":"verylong"},{"l":{"en-US":"fixedfps"},"v":"fixedfps"},{"l":{"en-US":"antishake"},"v":"antishake"},{"l":{"en-US":"fireworks"},"v":"fireworks"}]}}},{"name":"shutter_speed","type":"str","value":"10000000","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"1/4 seconds"},"v":"250000"},{"l":{"en-US":"1/2 seconds"},"v":"500000"},{"l":{"en-US":"1 second"},"v":"1000000"},{"l":{"en-US":"2 seconds"},"v":"2000000"},{"l":{"en-US":"3 seconds"},"v":"3000000"},{"l":{"en-US":"4 seconds"},"v":"4000000"},{"l":{"en-US":"5 seconds"},"v":"5000000"},{"l":{"en-US":"6 seconds"},"v":"6000000"},{"l":{"en-US":"7 seconds"},"v":"7000000"},{"l":{"en-US":"8 seconds"},"v":"8000000"},{"l":{"en-US":"9 seconds"},"v":"9000000"},{"l":{"en-US":"10 seconds"},"v":"10000000"},{"l":{"en-US":"15 seconds"},"v":"15000000"},{"l":{"en-US":"20 seconds"},"v":"20000000"},{"l":{"en-US":"25 seconds"},"v":"25000000"},{"l":{"en-US":"30 seconds"},"v":"30000000"}]}}},{"name":"DRC","type":"str","value":"off","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"low"},"v":"low"},{"l":{"en-US":"med"},"v":"med"},{"l":{"en-US":"high"},"v":"high"}]}}},{"name":"AWB","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"off"},"v":"off"},{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"sun"},"v":"sun"},{"l":{"en-US":"cloud"},"v":"cloud"},{"l":{"en-US":"shade"},"v":"shade"},{"l":{"en-US":"tungsten"},"v":"tungsten"},{"l":{"en-US":"fluorescent"},"v":"fluorescent"},{"l":{"en-US":"incandescent"},"v":"incandescent"},{"l":{"en-US":"flash"},"v":"flash"},{"l":{"en-US":"horizon"},"v":"horizon"},{"l":{"en-US":"greyworld"},"v":"greyworld"}]}}},{"name":"ISO","type":"str","value":"auto","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"auto"},"v":"auto"},{"l":{"en-US":"100"},"v":"100"},{"l":{"en-US":"150"},"v":"150"},{"l":{"en-US":"200"},"v":"200"},{"l":{"en-US":"250"},"v":"250"},{"l":{"en-US":"300"},"v":"300"},{"l":{"en-US":"350"},"v":"350"},{"l":{"en-US":"400"},"v":"400"},{"l":{"en-US":"450"},"v":"450"},{"l":{"en-US":"500"},"v":"500"},{"l":{"en-US":"550"},"v":"550"},{"l":{"en-US":"600"},"v":"600"},{"l":{"en-US":"650"},"v":"650"},{"l":{"en-US":"700"},"v":"700"},{"l":{"en-US":"750"},"v":"750"},{"l":{"en-US":"800"},"v":"800"},{"l":{"en-US":"1600"},"v":"1600"}]}}},{"name":"text_to_image","type":"str","value":"test","ui":{"type":"input","opts":{"types":["str"]}}}],"meta":{"module":"node-red-contrib-tequ-cam-rpi-hq-mjpeg","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Stream MJPEG from Raspberry PI HQ-camera. Stream is available @http://PI_IP/stream.","license":"MIT"},"color":"#A6BBCF","inputLabels":["Command"],"outputLabels":["Image stream out","Raw output","stderr"],"icon":"font-awesome/fa-video-camera","status":{"x":980,"y":340,"wires":[{"id":"0cfcb2ad7793599e","port":0}]}},{"id":"136f7f8dabd5e096","type":"split","z":"368085ec7cf67ef7","name":"Handle JPEG stream","splt":"[255, 216]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":true,"addname":"","x":680,"y":60,"wires":[["57d90c7f981cbf99"]]},{"id":"57d90c7f981cbf99","type":"function","z":"368085ec7cf67ef7","name":"Add splitted JPEG header","func":"const buffer1 =  Buffer.from([255, 216]);\nconst buffer2 = msg.payload;\n\nconst newBuffer = Buffer.concat([buffer1, buffer2]);\nmsg.payload = newBuffer\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":120,"wires":[["09b68b3247fddec3","eccb51d4352cfc90"]]},{"id":"2398841c1af8e0fd","type":"multipart-encoder","z":"368085ec7cf67ef7","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":520,"y":640,"wires":[["48157074683f2858"]]},{"id":"a7cac08181915067","type":"http in","z":"368085ec7cf67ef7","name":"","url":"/stream","method":"get","upload":false,"swaggerDoc":"","x":350,"y":640,"wires":[["2398841c1af8e0fd"]]},{"id":"48157074683f2858","type":"http response","z":"368085ec7cf67ef7","name":"","statusCode":"","headers":{},"x":650,"y":640,"wires":[]},{"id":"46e04f8bf9c3f417","type":"exec","z":"368085ec7cf67ef7","command":"raspivid ","addpay":"payload","append":"","useSpawn":"true","timer":"","winHide":false,"oldrc":false,"name":"","x":420,"y":160,"wires":[["136f7f8dabd5e096"],[],[]]},{"id":"d972af2406c2ec0e","type":"function","z":"368085ec7cf67ef7","name":"Format parameters","func":"const text_to_image = String(env.get(\"text_to_image\")).trim();\nconst mode    = String(env.get(\"mode\")).trim();\nconst w       = String(env.get(\"width\")).trim();\nconst h       = String(env.get(\"height\")).trim();\nconst fps     = String(env.get(\"fps\")).trim();\nconst rot     = String(env.get(\"rot\")).trim();\nconst ISO     = String(env.get(\"ISO\")).trim();\nconst awb     = String(env.get(\"AWB\")).trim();\nconst DRC     = String(env.get(\"DRC\")).trim();\nconst br      = String(env.get(\"brightness\")).trim();\nconst sa      = String(env.get(\"saturation\")).trim();\nconst co      = String(env.get(\"contrast\")).trim();\nconst sh      = String(env.get(\"sharpness\")).trim();\nconst q       = String(env.get(\"quality\")).trim();\nconst t       = String(env.get(\"timeout\")).trim();\nconst mm      = String(env.get(\"metering_mode\")).trim();\n\nlet ex = \"\";\nlet xs = \"\";\n\nif(env.get(\"exposure_mode\") == \"off\"){\n    ex = \"-ex \"+String(env.get(\"exposure_mode\")).trim();\n    ss = \"-ss \"+String(env.get(\"shutter_speed\")).trim();\n}\nelse{\n    ex = \"-ex \"+String(env.get(\"exposure_mode\")).trim();\n    ss = \"\";\n}\n\n//let text = \"%Y-%m-%d %X \"+text_to_image;\nlet text = text_to_image;\n\nif(env.get(\"stream_still_images\")){\n    msg.payload =\" -o - \"+ss+\" \"+ex+\" -mm \"+mm+\" -rot \"+rot+\" -md \"+mode+\" -ISO \"+ISO+\" -awb \"+awb+\" -drc \"+DRC+\" -br \"+br+\" -sh \"+sh+\" -sa \"+sa+\" -co \"+co+\" -q \"+q+\" -t \"+t+\" -w \"+w+\" -h \"+h;\n    return [null,msg]\n}         \nelse{\n    const t=0\n    msg.payload=\" -o - -cd MJPEG -n \"+ex+\" -rot \"+rot+\" -fps \"+fps+\" -md \"+mode+\" -ISO \"+ISO+\" -awb \"+awb+\" -drc \"+DRC+\" -br \"+br+\" -sh \"+sh+\" -sa \"+sa+\" -co \"+co+\" -t \"+t+\" -w \"+w+\" -h \"+h;\n    return [msg,null]\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":200,"wires":[["46e04f8bf9c3f417"],["0a95e1b3d0293d44"]]},{"id":"0cfcb2ad7793599e","type":"status","z":"368085ec7cf67ef7","name":"","scope":null,"x":720,"y":340,"wires":[[]]},{"id":"eccb51d4352cfc90","type":"msg-speed","z":"368085ec7cf67ef7","name":"","frequency":"sec","interval":1,"estimation":false,"ignore":false,"pauseAtStartup":false,"topicDependent":false,"x":810,"y":200,"wires":[[],[]]},{"id":"09b68b3247fddec3","type":"link out","z":"368085ec7cf67ef7","name":"","links":["061a377d64614bec"],"x":705,"y":260,"wires":[]},{"id":"061a377d64614bec","type":"link in","z":"368085ec7cf67ef7","name":"","links":["09b68b3247fddec3"],"x":395,"y":600,"wires":[["2398841c1af8e0fd"]]},{"id":"26437aeae2779bdf","type":"comment","z":"368085ec7cf67ef7","name":"Encode MJPEG stream","info":"","x":380,"y":560,"wires":[]},{"id":"0a95e1b3d0293d44","type":"exec","z":"368085ec7cf67ef7","command":"raspistill","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":420,"y":240,"wires":[["09b68b3247fddec3","eccb51d4352cfc90"],[],[]]},{"id":"8ffb9adfc5f994ba","type":"subflow:368085ec7cf67ef7","z":"5a695055.435eb","name":"","env":[{"name":"mode","value":"0","type":"str"},{"name":"width","value":"640","type":"str"},{"name":"height","value":"480","type":"str"},{"name":"fps","value":"5","type":"str"},{"name":"rot","value":"180","type":"str"},{"name":"stream_still_images","value":"false","type":"bool"},{"name":"timeout","value":"100","type":"str"}],"x":180,"y":700,"wires":[[],[],[]]}]
