subflows/img-thumbnails.json
[{"id":"c9a1d1bf.32768","type":"subflow","name":"[IMG] Thumbnails","info":"","category":"Tequ-API Client","in":[{"x":60,"y":80,"wires":[{"id":"8f854870.b60a68"}]}],"out":[{"x":1360,"y":100,"wires":[{"id":"2a5e3ea4.745ee2","port":1},{"id":"ced2a63b.215768","port":0}]}],"env":[{"name":"image_type","type":"str","value":"image/jpeg","ui":{"type":"select","opts":{"opts":[{"l":{"en-US":"JPG"},"v":"image/jpeg"},{"l":{"en-US":"PNG"},"v":"image/png"}]}}},{"name":"image_settings","type":"json","value":"{\"quality\":0.8}","ui":{"type":"input","opts":{"types":["json"]}}},{"name":"scaling_factor","type":"num","value":"0.15","ui":{"type":"spinner","opts":{"min":0,"max":1}}}],"meta":{"module":"[IMG] Thumbnails","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Creates thumbnails of original image and annotated image from [AI] Detect subflows results.","license":"MIT"},"color":"#87A980","icon":"node-red-contrib-image-info/resolution.png","status":{"x":1380,"y":320,"wires":[{"id":"7cd170d4.ff796","port":0},{"id":"86a557a0.cdbfd8","port":0}]}},{"id":"8f854870.b60a68","type":"change","z":"c9a1d1bf.32768","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":80,"wires":[["8294ee5d.5d0d1"]]},{"id":"11af73fe.677eac","type":"change","z":"c9a1d1bf.32768","name":"end timer","rules":[{"t":"set","p":"payload.image.thumbnail_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["2a5e3ea4.745ee2"]]},{"id":"7402d33.cd7322c","type":"function","z":"c9a1d1bf.32768","name":"Resize annotated","func":"const input = msg.payload.annotation.buffer;\n\nconst image_settings = env.get(\"image_settings\");\nconst image_type = env.get(\"image_type\");\nconst scaling_factor = env.get(\"scaling_factor\");\n\n\nasync function createThumbnail(image) {\n  const localImage = await canvas.loadImage(image);  \n  \n  const sx = 0\n  const sy = 0\n  const sw = localImage.width\n  const sh = localImage.height\n  const dx = 0;\n  const dy = 0;\n  const dw  = scaling_factor * localImage.width\n  const dh = scaling_factor * localImage.height\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type, image_settings);\n}\n\nmsg.payload.annotation.thumbnail = await createThumbnail(input)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":850,"y":80,"wires":[["ced2a63b.215768"]]},{"id":"7cd170d4.ff796","type":"change","z":"c9a1d1bf.32768","name":"Set status message","rules":[{"t":"set","p":"payload","pt":"msg","to":"$millis() - msg.start&\" ms\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":340,"wires":[[]]},{"id":"2a5e3ea4.745ee2","type":"switch","z":"c9a1d1bf.32768","name":"objects found?","property":"payload.annotation.objects_found","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":200,"wires":[["513e34aa.cde09c"],["86a557a0.cdbfd8"]]},{"id":"86a557a0.cdbfd8","type":"change","z":"c9a1d1bf.32768","name":"Set status message","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"Resizing: \"&msg.payload.image.thumbnail_ms&\" ms\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":380,"wires":[[]]},{"id":"8294ee5d.5d0d1","type":"function","z":"c9a1d1bf.32768","name":"Resize original","func":"const input = msg.payload.image.buffer;\nconst image_settings = env.get(\"image_settings\");\nconst image_type = env.get(\"image_type\");\nconst scaling_factor = env.get(\"scaling_factor\");\n\nasync function createThumbnail(image) {\n  const localImage = await canvas.loadImage(image);  \n  const sx = 0\n  const sy = 0\n  const sw = localImage.width\n  const sh = localImage.height\n  const dx = 0;\n  const dy = 0;\n  const dw  = scaling_factor * localImage.width\n  const dh = scaling_factor * localImage.height\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type, image_settings);\n}\n\nmsg.payload.image.thumbnail = await createThumbnail(input)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":300,"y":80,"wires":[["11af73fe.677eac"]]},{"id":"513e34aa.cde09c","type":"change","z":"c9a1d1bf.32768","name":"timer","rules":[{"t":"set","p":"start2","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":80,"wires":[["7402d33.cd7322c"]]},{"id":"ced2a63b.215768","type":"change","z":"c9a1d1bf.32768","name":"end timer","rules":[{"t":"set","p":"payload.annotation.thumbnail_ms","pt":"msg","to":"$millis() - msg.start2","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":80,"wires":[["7cd170d4.ff796"]]},{"id":"d16a4ec5172e84e6","type":"subflow:c9a1d1bf.32768","z":"5a695055.435eb","name":"","env":[],"x":450,"y":620,"wires":[[]]}]
