flows/crop-ca.json
[{"id":"0e137f620f4ce39e","type":"subflow","name":"[IMG] Crop detected object(s)","info":"Crop object detection results defined in 'msg.result' from image 'msg.payload'.\n\nImage must be buffer.\n\nResult to be cropped should be array of objects in following format:\n\n[\n   {\n    \"bbox\":[x,y,w,h],\n    \"label\":\"label\",\n    \"score\":0    \n   }\n]","category":"Tequ-API Client","in":[{"x":60,"y":40,"wires":[{"id":"e2336eba827b2a60"}]}],"out":[{"x":660,"y":160,"wires":[{"id":"a521ae23ec706dce","port":0}]}],"env":[{"name":"x_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"y_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"w_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}},{"name":"h_offset","type":"num","value":"","ui":{"type":"input","opts":{"types":["num"]}}}],"meta":{"module":"node-red-contrib-tequ-image-crop","version":"0.0.1","author":"juha.autioniemi@lapinamk.fi","desc":"Crops object detection results from given image.","license":"MIT"},"color":"#87A980","icon":"node-red-contrib-image-info/resolution.png","status":{"x":660,"y":240,"wires":[{"id":"ec635d4302e74381","port":0}]}},{"id":"05afb78bbc410b49","type":"function","z":"0e137f620f4ce39e","name":"Crop detected object","func":"var input = msg.payload;\n\nx = msg.result.bbox[0] + env.get(\"x_offset\")\ny = msg.result.bbox[1] + env.get(\"y_offset\")\nw = msg.result.bbox[2] + env.get(\"w_offset\")\nh = msg.result.bbox[3] + env.get(\"h_offset\")\n\nimage_type = 'image/jpeg'\nimage_settings = {\"quality\":0.8}\n\nasync function createThumbnail(image) {\n  const localImage = await canvas.loadImage(image);  \n  \n  sx = x\n  sy = y\n  sw = w\n  sh = h\n  dx = 0;\n  dy = 0;\n  dw = w\n  dh = h\n\n  const cvs = canvas.createCanvas(dw, dh);\n  const ctx = cvs.getContext('2d');  \n  ctx.drawImage(localImage,sx,sy,sw,sh,dx, dy, dw, dh);\n  return cvs.toBuffer(image_type,image_settings);\n}\n\nmsg.payload = await createThumbnail(input)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"canvas","module":"canvas"}],"x":340,"y":100,"wires":[["a521ae23ec706dce"]]},{"id":"a521ae23ec706dce","type":"change","z":"0e137f620f4ce39e","name":"end timer","rules":[{"t":"set","p":"crop_ms","pt":"msg","to":"$millis() - msg.start","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":160,"wires":[[]]},{"id":"e2336eba827b2a60","type":"change","z":"0e137f620f4ce39e","name":"timer","rules":[{"t":"set","p":"start","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":40,"wires":[["05afb78bbc410b49"]]},{"id":"ec635d4302e74381","type":"status","z":"0e137f620f4ce39e","name":"","scope":null,"x":300,"y":240,"wires":[[]]},{"id":"d6e92dce550a4fab","type":"image","z":"a3efacb5f4eaf6fe","name":"","width":"320","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":880,"y":480,"wires":[]},{"id":"d5ee20f65919537b","type":"function","z":"a3efacb5f4eaf6fe","name":"Fmt","func":"result = msg.result;\n\nresult.bbox[0] = result.bbox[0] * msg.width\nresult.bbox[1] = result.bbox[1] * msg.height\nresult.bbox[2] = (result.bbox[2]) * msg.width - result.bbox[0] \nresult.bbox[3] = (result.bbox[3]) * msg.height - result.bbox[1]\n\nlabel = msg.label;\n\nmsg = {\n        \"id\":msg.id,\n        \"payload\":msg.payload,\n        \"result\":result,\n        \"folder\":msg.folder\n}\n\nmsg.result.label = label\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":480,"wires":[["8f4348ed7f99b30c"]]},{"id":"8f4348ed7f99b30c","type":"subflow:0e137f620f4ce39e","z":"a3efacb5f4eaf6fe","name":"","env":[{"name":"x_offset","value":"0","type":"num"},{"name":"y_offset","value":"0","type":"num"},{"name":"w_offset","value":"0","type":"num"},{"name":"h_offset","value":"0","type":"num"}],"x":510,"y":480,"wires":[["d6e92dce550a4fab","712661b9f32f4d48"]]},{"id":"712661b9f32f4d48","type":"function","z":"a3efacb5f4eaf6fe","name":"Format filename","func":"label = msg.result.label;\nmsg.filename = msg.folder+\"\\\\cropped_based_on_annotations\\\\\"+label+\"\\\\\"+msg.id+\".jpg\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":180,"y":560,"wires":[["c4317514399b7ffe"]]},{"id":"1e2de8983655f145","type":"debug","z":"a3efacb5f4eaf6fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":680,"wires":[]},{"id":"be10ddd8381853a0","type":"function","z":"a3efacb5f4eaf6fe","name":"","func":"filename = msg.payload.filename;\nvalues = filename.split(\"\\\\\")\nlast_value = values[values.length-1]\nid = last_value.split(\".\")[0]\nmsg.id = id;\nvalues.pop()\nmsg.folder = values.join(\"\\\\\");\nmsg.filename = filename;\nmsg.result = msg.payload.result\nmsg.label = msg.payload.label\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":280,"wires":[["4a6cf156aba491f6"]]},{"id":"093e565d1484b1d3","type":"function","z":"a3efacb5f4eaf6fe","name":"Get next and remove from list","func":"ids             = flow.get(\"files\");\ntimestamp       = new Date().toISOString();\nvar arraySize   = ids.length;\nvar next_id = \"\";\nmsg.timestamp = timestamp;\n\n\nif(arraySize === 0){\n    msg.continue = false;\n    node.status({fill:\"green\",shape:\"dot\",text:\"Finished: \"+ timestamp});\n}\n\nelse{\n    next_id = ids.shift()\n    flow.set(\"files\",ids)\n    msg.continue = true;\n    node.status({fill:\"red\",shape:\"dot\",text:next_id});\n}\n\nmsg.payload   = next_id;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":280,"wires":[["be10ddd8381853a0"]]},{"id":"4a6cf156aba491f6","type":"file in","z":"a3efacb5f4eaf6fe","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":790,"y":280,"wires":[["a13983b30ad193a8","34cd917a97a640b0"]]},{"id":"c4317514399b7ffe","type":"file","z":"a3efacb5f4eaf6fe","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":150,"y":620,"wires":[["43ccf129c6cb67c5"]]},{"id":"a13983b30ad193a8","type":"image","z":"a3efacb5f4eaf6fe","name":"","width":"320","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1040,"y":280,"wires":[]},{"id":"375941e29964a253","type":"comment","z":"a3efacb5f4eaf6fe","name":"Crop objects from images using CA \"_annotations.json\" file","info":"","x":310,"y":40,"wires":[]},{"id":"f657588c013e64a5","type":"file in","z":"a3efacb5f4eaf6fe","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":210,"y":200,"wires":[["7b558b95476086cd"]]},{"id":"f4e5f0ed42166868","type":"inject","z":"a3efacb5f4eaf6fe","name":"C:\\Users\\juha.autioniemi\\Desktop\\backup\\2021-08-15-fish-species-detector\\_annotations.json","props":[{"p":"filename","v":"C:\\Users\\juha.autioniemi\\Desktop\\backup\\2021-08-15-fish-species-detector\\_annotations.json","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":440,"y":80,"wires":[["f657588c013e64a5"]]},{"id":"f877c4e2c8fe1c36","type":"debug","z":"a3efacb5f4eaf6fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"7b558b95476086cd","type":"json","z":"a3efacb5f4eaf6fe","name":"","property":"payload","action":"","pretty":false,"x":350,"y":200,"wires":[["95ece37c717ed702","819687c380e2a525"]]},{"id":"95ece37c717ed702","type":"function","z":"a3efacb5f4eaf6fe","name":"","func":"filename = msg.filename;\nvalues = filename.split(\"\\\\\")\nlast_value = values[values.length-1]\nvalues.pop()\nfolder = values.join(\"\\\\\")\n\n\nvar annotations = msg.payload.annotations;\nvar listToMemory = []\n\nfor(var key in annotations){\n    \n    file_name = key;\n    keyArray = annotations[key];\n    \n    for(var i=0;i<keyArray.length;i++){\n        newObject = {\n            \"id\":annotations[key][i].id,\n            \"filename\":folder+\"\\\\\"+file_name,\n            \"result\":{\n                \"bbox\":[\n                    annotations[key][i].x,\n                    annotations[key][i].y,\n                    annotations[key][i].x2,\n                    annotations[key][i].y2\n                    ]\n            },\n            \"label\":annotations[key][i].label\n        }\n \n    listToMemory.push(newObject)       \n        \n    }\n    \n   \n}\nmsg.payload = listToMemory\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":200,"wires":[["f877c4e2c8fe1c36","abef44ebd0735fd3"]]},{"id":"819687c380e2a525","type":"debug","z":"a3efacb5f4eaf6fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":160,"wires":[]},{"id":"34cd917a97a640b0","type":"image-info","z":"a3efacb5f4eaf6fe","name":"","x":170,"y":420,"wires":[["d5ee20f65919537b"]]},{"id":"e66ca877c68afef9","type":"inject","z":"a3efacb5f4eaf6fe","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["093e565d1484b1d3"]]},{"id":"abef44ebd0735fd3","type":"change","z":"a3efacb5f4eaf6fe","name":"","rules":[{"t":"set","p":"files","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":200,"wires":[[]]},{"id":"be663092cc3acbb6","type":"complete","z":"a3efacb5f4eaf6fe","name":"","scope":["1e2de8983655f145"],"uncaught":false,"x":170,"y":320,"wires":[["093e565d1484b1d3"]]},{"id":"43ccf129c6cb67c5","type":"delay","z":"a3efacb5f4eaf6fe","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"x":170,"y":680,"wires":[["1e2de8983655f145"]]}]
